<template>
    <div class="menu-item">
        <button class="menu-item__button">Item</button>
        <div class="menu-item__content">
            <a href="#" class="menu-item__link">Link 1</a>
            <a href="#" class="menu-item__link">Link 2</a>
            <a href="#" class="menu-item__link">Link 3</a>
        </div>
    </div> 
</template>

<style lang="scss">
@import '../assets/styles';
.menu-item{
    display: inline-block;
    position: relative;
    min-width: 100px;
    @media (max-width: $sm){
        width: 80%;
        height: 150px;
        margin: 0 10% 0 10%;
        flex-direction: row-reverse;
        display: block;
    }
    &:hover .menu-item__content{
        display: block;
    }
    &__button{
        background: $brown;
        color: white;
        font-size: 16;
        margin: 0;
        height: 100%;
        width: 100%;
        &:hover{
            background: $brown-hover;
        }
        @media (max-width: $sm){
            font-size: 30px;
            height: 40px;
            border:none;
        }
    }
    &__content{
        position: absolute;
        display: none;
        z-index: 1;
        background: $gray;
        min-width: 150px;
        @media (max-width: $sm){
            display: block;
            width: 100%;
            background: none;
        }
    }
    &__link{
        display: block;
        text-decoration: none;
        font-size: 16px;
        color: white;
        padding: 5px;
        &:hover{
            background: $gray-hover;
        }
        @media (max-width: $sm){
            height: 25px;
            font-size: 20px;
            margin: 0 0 0 10px;
        }
    }
}

</style>