<template>
    <div>
        <div class="slider container">
            <div v-for="(string, number) in images" :key="number" class="slider__item fade"
            :class="{'slider__item-visible': number+1 == currentIndex}">
                <img :src="string" class="slider__image">
            </div>
            <a class="slider__button" @click="prevSlide">&#10094;</a>
            <a class="slider__button" @click="nextSlide">&#10095;</a>
        </div>
        <br>
        <div class="slider__dots">
            <span v-for="(string, number) in images" :key="number" class="slider__dot" @click="changeSlide(number)"></span>
        </div>
    </div>
</template>

<script>
import img1 from '../assets/img/img1.jpg'
import img2 from '../assets/img/img2.jpg'
import img3 from '../assets/img/img3.jpg'

export default {
    data() {
        return {
            images: [img1, img2, img3],
            currentIndex: 1,
        }
    },
    mounted() {
        this.autoSlide()
    },
    methods: {
        changeSlide(number) {
            this.currentIndex = number+1
        },
        nextSlide() {
            if (this.currentIndex < this.images.length) this.currentIndex++
        },
        prevSlide() {
            if (this.currentIndex > 1) this.currentIndex--
        },
        autoSlide() {
            setInterval(() => {
                if(this.currentIndex<3) this.currentIndex++
                else this.currentIndex = 1
            }, 3000)
        }
    }
}
</script>

<style lang="scss">

.slider{
    display: flex;
    justify-content: center;
    position: relative;
    &__item{
        display: none;
        overflow: hidden;
        max-width: 80%;
        margin: 0 30px 0 30px;
        &-visible{
            display: block;
        }
    }
    &__image{
        max-height:150px;
        width: auto;
        object-fit: fill;
    }
    &__button{
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        
        user-select: none;
        &:hover{
            background-color: rgba(0,0,0,0.8);
        }
        &:first-of-type{
            left: 10%;
            border-radius: 0 3px 3px 0;
        }
        &:last-of-type{
            right: 10%;
            border-radius: 3px 0 0 3px;
        }
    }
    &__dots{
        text-align: center;
    }
    &__dot{
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        &:hover{
            background-color: #717171;
        }
    }
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
</style>
