<template>
  <header>
    <nav class="nav container">
      <div class="burger">
        <input id="burger__toggle" :value="burgerIsChecked" type="checkbox" @click="checkBurger"/>
        <label class="burger__btn" for="burger__toggle">
          <span></span>
        </label>
      </div>
      <div class="nav__logo">
        <img src="../assets/img/logo.png" alt="Company logo" class="nav__img">
      </div>
      <div class="nav__content">
        <div class="nav__search">
          <input type="text" placeholder="Search" class="nav__search-input" />
          <button class="nav__search-button">
            Search
          </button>
        </div>    
        <div class="nav__menu" :class="{'nav__menu-show': burgerIsChecked}">            
          <menu-item/>
          <menu-item/>
          <menu-item/>
        </div>
      </div>            
    </nav>
    <header-slider/>
  </header>
</template>

<script>
import MenuItem from './BasePageHeaderMenuItem.vue'
import HeaderSlider from './TheBasePageHeaderSlider.vue'

export default {
  name: 'PageHeader',
  data() {
    return {
      burgerIsChecked: false
    }
  },
  components: {
    MenuItem, HeaderSlider
  },
  methods: {
    checkBurger(){
      this.burgerIsChecked = !this.burgerIsChecked
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '../assets/styles';
header{
  background: rgb(114, 85, 85);
}
.nav {
  display: flex;
  justify-content: center;
  padding: 20px;
  @media (max-width: $sm){
    padding: 5px;
    flex-direction: row-reverse;
  }
  &__logo{
    overflow:hidden;
    margin: 0 30px 0 0;
    @media (max-width: $sm){
      margin: 0 0 0 5px;
    }
  }
  &__img{
    width: 70px;
    border-radius: 5px;
    @media (max-width: $sm){
      width: 50px;
    }
  }
  &__content{
    flex-direction: column;
    padding: 10px 0 0 0;
    width:80%;
  }
  &__search{
    display: flex;
    height: 30px;
    @media (max-width: $sm){
      height: 50px;
    }
  }
  &__search-input{
    width: 100%;
    padding: 2px 2px 2px 4px;
    outline: none;
    border: 1px solid $brown;
    &:focus{
      border: 3px solid $brown-hover;
    }
    &::placeholder{
      color: gray;
      font-style: italic;
    }
    @media (max-width: $sm){
      margin: 0 0 0 55px;
    }
  }
  &__search-button{
    background: $brown;
    border: none;
    margin: 0;
    padding: 5px;
    color: white;
    &:hover{
      background: $brown-hover;
    }
  }
  &__menu{
    margin: 5px 0 0 0;
    height: 30px;
    display: flex;
    width: 100%;
    background: rgb(80, 56, 56);
    @media (max-width: $sm){
      display: none;
      background: rgba(0,0,0,0.8);
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;  
      width: 100%;
      height: 100%;  
      margin: 0;
      padding: 80px 0;
      text-align: center;
      z-index:1;
    }
    &-show{
      display: flex;
    }
  }    
}
.burger{
  display: none;
  align-items: flex-start;
  @media (max-width: $sm){
    display: block;
  }
  &__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;  
    width: 50px;
    height: 50px;  
    cursor: pointer;
    z-index: 2;
    & > span, & > span::before, & > span::after {
      display: block;
      position: absolute;  
      width: 100%;
      height: 5px;  
      background: rgb(34, 0, 0);
    }
    & > span::before {
      content: '';
      top: -15px;
    }
    & > span::after {
      content: '';
      top: 15px;
    }
  }
}
#burger__toggle {
  opacity: 0;
  position: fixed;
  &:checked{
    &~ .burger__btn > span, &~ .burger__btn > span::before, &~ .burger__btn > span::after {
      background: rgb(141, 78, 78) 
    }
    &~ .burger__btn > span {
      transform: rotate(45deg);
      &::before{
        top: 0;
        transform: rotate(0);
      }
      &::after{
        top: 0;
        transform: rotate(90deg);
      }
    }
  }
  
}

</style>
