<template>
    <section class="form">
        <el-form class="container" status-icon label-width="120px">
            <el-form-item label="Слова через запятую" label-position="Top">
                <el-input v-model="str"></el-input>
            </el-form-item>
            <el-form-item v-if="words.length > 0" label="Отсортированные слова">
                <el-select value="Смотреть">
                    <el-option v-for="(word, number) in words" :key="number" 
                     :value="word"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm">Отсортировать</el-button>
            </el-form-item>
            <p v-if="showError">{{error}}</p>
            <el-form-item label="Числа">
                <el-checkbox v-for="(number, id) in numbers" :key="id" name="number"
                    @click="add(number, id)" v-model="flags[id]">{{number}}</el-checkbox>
            </el-form-item> 
            <p> Сумма выбранных чисел равна {{sum}}</p>
        </el-form>
    </section>
</template>

<script>

export default {
    data(){
      return {
        str: "",
        words: [],
        error: "",
        showError: false,
        numbers: [34, 21, 4, 95, 22],
        flags: [false, false, false, false, false],
      };
    },
    computed: {
        sum() {
            let s = 0
            for (let i = 0; i < 5; i++) {
                if (this.flags[i]) s += this.numbers[i]
            }
            return s
        }
    },
    methods: {
        submitForm() {
            if (this.str === '') {
                this.error = 'Введите слова!'
                this.showError = true
            }
            else {
                let words = this.str.split(",")
                if (words.length <= 10) {
                    this.words = words.sort()
                    console.log(this.words)
                    this.showError = false
                }
                else{
                    this.error = 'Введите не более 10 слов!'
                    this.showError = true
                }
            }
        }          
    }
}
</script>

<style lang="scss">
.form{
    background: rgb(226, 193, 150);
    color: black;
    padding: 20px;
}
</style>
