<template>
    <footer>
        <div class="footer container">
            <div class="footer__item">
                <p class="footer__text">
                    text1
                </p>
            </div>
            <div class="footer__item">
                <p class="footer__text">
                    text2
                </p>
            </div>
            <div class="footer__item">
                <p class="footer__text">
                    text3
                </p>
            </div>
        </div>
    </footer>
</template>

<style lang="scss">
@import '../assets/styles.scss';

footer{
    background: $gray;
}
.footer{
    display: flex;
    height: 80px;
    padding: 20px;
    @media (max-width: $sm){
        flex-direction: column;
        height: 250px;
    }

    &__item{
        border: 2px solid black;
        margin: 0 3px 0 0;
        width: 33%;
        text-align: center;
        @media (max-width: $sm){
           margin: 0 5% 3px 5%;
           width: 90%;
        }
    }
    &__text{
        padding: 0;
        font-size: 25px;
        @media (max-width: $sm){
           font-size: 25px;
        }
    }
  
}
</style>