$brown: rgb(121, 50, 50);
$brown-hover: rgb(80, 21, 21);
$gray: rgb(73, 73, 73);
$gray-hover: rgb(31, 29, 29);

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

.container {
    max-width: $xl;
    margin: 0 auto 0 auto;
    @media (max-width: $xl){
        max-width: $lg;
    }
    @media (max-width: $lg){
        max-width: $md;
    }
    @media (max-width: $md){
        max-width: $sm;
    }
}