<template>
  <div>
    <page-header/>
    <page-form />
    <page-footer />
  </div>
</template>

<script>
import PageHeader from './components/ThePageHeader.vue'
import PageForm from "./components/ThePageForm.vue";
import PageFooter from './components/ThePageFooter.vue'

export default {
  name: 'App',
  components: {
    PageHeader, PageForm, PageFooter
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>